.works-text {
    max-width: 100%;
}

.works-text__h1 {
    font-family: "Ebbe";
    width: 100%;
    text-align: center;
    background-color: #e3b9a1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.works-text__text {
    text-indent: 55px;
}

.img__con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img__con-item {
    width: 400px;
}

.img__con-main-item {
    width: 700px;

}

.img__con-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img__con-item img {
    object-fit: cover;
    width: 100%;
}

.img__con-main-item img {
    object-fit: cover;
    width: 100%;

}

.works-text-data__data {
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.works-text__text {
    margin-top: 10px;
    font-family: "Lineyka";
    margin-bottom: 10px;
}

.resources {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resources__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.resources__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

#item4 {
    background-color: #4e42ff;
    box-shadow: -10px 0 0 #4e42ff, 10px 0 0 #4e42ff;
}

.resources__item a {
    font-family: 'Pip';
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    background-color: aqua;
    padding-left: 10px;
    display: inline;
    background-color: #ef822f;
    box-shadow: -10px 0 0 #ef822f, 10px 0 0 #ef822f;
    padding: 0 10px 0 0;
}