nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    display: flex;
    width: 90px;
    height: 110px;
}

nav img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

nav a {
    font-size: 1.4rem !important;
}

.recent-post {
    color: #e3b9a1;
    font-family: 'Pip';
    font-style: normal;
    letter-spacing: .05em;
    line-height: 1.4em;
    text-transform: none;
}

.recent-post p {
    font-size: 2rem;
    font-weight: 1000;
}

.recent-post a {
    font-size: 2rem;
    font-weight: 1000;
}

.image-title {
    line-height: 1em;
    text-align: left !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .07em;
    text-transform: none;
    color: #35353b;
    font-size: max(0.9em, 35.3%);
}

.image-title p {
    white-space: pre-wrap;
    display: inline;
    margin: 0;
    overflow-wrap: break-word;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .08em;
    text-transform: none;
    line-height: 1.5em;
    color: #fff;
    background-color: #bdd0ca;
    box-shadow: .2em 0 0 #bdd0ca, -.2em 0 0 #bdd0ca;
    text-align: left !important;
    font-weight: bold;
    font-size: 2.3em;
}

.hrefs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.hrefs a {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid #33333300;
    transition: all .9s ease;
}

footer a:hover {
    color: #e3b9a1;
}

.posts {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    gap: 20px;
}

.contacts a {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Tim';
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;

}

.contacts a:hover {
    color: #e3b9a1;
}

.contacts img {
    width: 30px;
    height: 30px;
}

/**/
.container {
    width: 940px !important;
    height: 500px;
    margin: 20px auto;
    position: relative;
}

.css-slider-wrapper {
    display: block;
    background: #FFF;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Slider */

.slider,
.slider2,
.slider3,
.slider5,
.slider6 {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slide0 {
    left: 0;
}

.slide1 {
    left: 0;
}

.slide2 {
    left: 100%;
}

.slide3 {
    left: 200%;
}

.slide4 {
    left: 300%;
}

.slide5 {
    left: 400%;
}

.slide6 {
    left: 0;
}

.slide7 {
    left: 100%;
}

.slide8 {
    left: 200%;
}

.slide9 {
    left: 300%;
}

.slide31 {
    left: 0;
}

.slide32 {
    left: 100%;
}

.slide33 {
    left: 200%;
}

.slide34 {
    left: 300%;
}

.slide51 {
    left: 0;
}

.slide52 {
    left: 100%;
}

.slider>div {
    text-align: center;
}

.slide61 {
    left: 0;
}

.slide62 {
    left: 100%;
}

.slide63 {
    left: 200%;
}

.slide64 {
    left: 300%;
}

.slide65 {
    left: 400%;
}

/* Slider inner content */

.slider h2 {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 120%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.slider .button {
    color: #FFF;
    padding: 5px 50px;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    opacity: 0;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
}

.slider h2,
.slider .button {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
    /* Safari */

    transition-delay: 1s;
}

/* slider-pagination */

.slider-pegination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1000;
    /*background-color: #eaeaea9c;*/
}

.slider-pegination label {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.614);
    margin: 0 2px;
    border: solid 3px rgba(181, 181, 181, 0.296);
    cursor: pointer;
}

/* Next and previous button*/

.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 55;
}

.control label {
    z-index: 0;
    display: none;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: #FFF;
    cursor: pointer;
    opacity: 0.2;
}

.control label:hover {
    opacity: 0.5;
}

.next {
    right: 1%;
}

.previous {
    left: 1%;
}

/*Слайдер №1*/

/* Slider control sliding effect */

.slide-radio1:checked~.slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio2:checked~.slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio3:checked~.slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio4:checked~.slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.slide-radio5:checked~.slider {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

/* next and previous will be  active when slider moving*/

.slide-radio1:checked~.next .numb2,
.slide-radio2:checked~.next .numb3,
.slide-radio3:checked~.next .numb4,
.slide-radio4:checked~.next .numb5,
.slide-radio2:checked~.previous .numb1,
.slide-radio3:checked~.previous .numb2,
.slide-radio4:checked~.previous .numb3,
.slide-radio5:checked~.previous .numb4 {
    display: block;
    z-index: 1;
}

/* css for active current pagination */

.slide-radio1:checked~.slider-pegination .page1,
.slide-radio2:checked~.slider-pegination .page2,
.slide-radio3:checked~.slider-pegination .page3,
.slide-radio4:checked~.slider-pegination .page4,
.slide-radio5:checked~.slider-pegination .page5 {
    background: rgb(117, 201, 249);
}

.slide-radio1:checked~.slide1 h2,
.slide-radio2:checked~.slide2 h2,
.slide-radio3:checked~.slide3 h2,
.slide-radio4:checked~.slide4 h2,
.slide-radio5:checked~.slide5 h2,
.slide-radio1:checked~.slide1 .button,
.slide-radio2:checked~.slide2 .button,
.slide-radio3:checked~.slide3 .button,
.slide-radio4:checked~.slide4 .button,
.slide-radio5:checked~.slide5 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

/*Слайдер №2*/

/* Slider control sliding effect */

.slide-radio6:checked~.slider2 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio7:checked~.slider2 {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio8:checked~.slider2 {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio9:checked~.slider2 {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

/* next and previous will be  active when slider moving*/

.slide-radio6:checked~.next .numb7,
.slide-radio7:checked~.next .numb8,
.slide-radio8:checked~.next .numb9,
.slide-radio7:checked~.previous .numb6,
.slide-radio8:checked~.previous .numb7,
.slide-radio9:checked~.previous .numb8 {
    display: block;
    z-index: 1;
}

/* css for active current pagination */

.slide-radio6:checked~.slider-pegination .page6,
.slide-radio7:checked~.slider-pegination .page7,
.slide-radio8:checked~.slider-pegination .page8,
.slide-radio9:checked~.slider-pegination .page9 {
    background: rgb(117, 201, 249);
}

.slide-radio6:checked~.slide6 h2,
.slide-radio7:checked~.slide7 h2,
.slide-radio8:checked~.slide8 h2,
.slide-radio9:checked~.slide9 h2,
.slide-radio6:checked~.slide6 .button,
.slide-radio7:checked~.slide7 .button,
.slide-radio8:checked~.slide8 .button,
.slide-radio9:checked~.slide9 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

/*Слайдер №3*/

/* Slider control sliding effect */

.slide-radio31:checked~.slider3 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio32:checked~.slider3 {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio33:checked~.slider3 {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio34:checked~.slider3 {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

/* next and previous will be  active when slider moving*/

.slide-radio31:checked~.next .numb32,
.slide-radio32:checked~.next .numb33,
.slide-radio33:checked~.next .numb34,
.slide-radio32:checked~.previous .numb31,
.slide-radio33:checked~.previous .numb32,
.slide-radio34:checked~.previous .numb33 {
    display: block;
    z-index: 1;
}

/* css for active current pagination */

.slide-radio31:checked~.slider-pegination .page31,
.slide-radio32:checked~.slider-pegination .page32,
.slide-radio33:checked~.slider-pegination .page33,
.slide-radio34:checked~.slider-pegination .page34 {
    background: rgb(117, 201, 249);
}

.slide-radio31:checked~.slide31 h2,
.slide-radio32:checked~.slide32 h2,
.slide-radio33:checked~.slide33 h2,
.slide-radio34:checked~.slide34 h2,
.slide-radio31:checked~.slide31 .button,
.slide-radio32:checked~.slide32 .button,
.slide-radio33:checked~.slide33 .button,
.slide-radio34:checked~.slide34 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

/*Слайдер №5*/

/* Slider control sliding effect */

.slide-radio51:checked~.slider5 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio52:checked~.slider5 {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}


/* next and previous will be  active when slider moving*/

.slide-radio51:checked~.next .numb52,
.slide-radio52:checked~.previous .numb51 {
    display: block;
    z-index: 1;
}

/* css for active current pagination */

.slide-radio51:checked~.slider-pegination .page51,
.slide-radio52:checked~.slider-pegination .page52 {
    background: rgb(117, 201, 249);
}

.slide-radio51:checked~.slide51 h2,
.slide-radio52:checked~.slide52 h2,
.slide-radio51:checked~.slide51 .button,
.slide-radio52:checked~.slide52 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

/*Слайдер №6*/

/* Slider control sliding effect */

.slide-radio61:checked~.slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio62:checked~.slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio63:checked~.slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio64:checked~.slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.slide-radio65:checked~.slider {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

/* next and previous will be  active when slider moving*/

.slide-radio61:checked~.next .numb62,
.slide-radio62:checked~.next .numb63,
.slide-radio63:checked~.next .numb64,
.slide-radio64:checked~.next .numb65,
.slide-radio62:checked~.previous .numb61,
.slide-radio63:checked~.previous .numb62,
.slide-radio64:checked~.previous .numb63,
.slide-radio65:checked~.previous .numb64 {
    display: block;
    z-index: 1;
}

/* css for active current pagination */

.slide-radio61:checked~.slider-pegination .page61,
.slide-radio62:checked~.slider-pegination .page62,
.slide-radio63:checked~.slider-pegination .page63,
.slide-radio64:checked~.slider-pegination .page64,
.slide-radio65:checked~.slider-pegination .page65 {
    background: rgb(117, 201, 249);
}

.slide-radio61:checked~.slide61 h2,
.slide-radio62:checked~.slide62 h2,
.slide-radio63:checked~.slide63 h2,
.slide-radio64:checked~.slide64 h2,
.slide-radio65:checked~.slide65 h2,
.slide-radio61:checked~.slide61 .button,
.slide-radio62:checked~.slide62 .button,
.slide-radio63:checked~.slide63 .button,
.slide-radio64:checked~.slide64 .button,
.slide-radio65:checked~.slide65 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}