* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: #fafafa;
}

.body_hide {
    opacity: 0;
    transition: .9s opacity ease-in-out;
}

.body_visible {
    opacity: 1;
}

p,
a {
    font-size: 1.3rem;
}






._df-row {
    display: flex;
    align-items: center;
}

._df-col {
    display: flex;
    flex-flow: column;
}

._gap1 {
    gap: 1rem;
}

._just-centr-gap1 {
    justify-content: center;
    gap: 1rem;
}

._just-end-gap1 {
    display: flex;
    justify-content: space-between;
}

._just-around {
    justify-content: space-around;
}

._just-between {
    justify-content: space-between;
}

._alig-centr {
    align-items: center;
}

._color-blok-blue {
    background-color: #edf7f9;
    margin-top: 15px;
}

._pading1 {
    padding: 1rem 0;
}

._pading2 {
    padding: 2rem 0;
}

._bag-color {
    background-color: #e3b9a1;
    color: #fafafa;
    border-radius: 10px;
    padding: 0 5px;
}